<a href="https://colab.research.google.com/github/dolmani38/non-linear-regression/blob/master/Regession_test_0804.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
!pip install lime

import numpy as np
import pandas as pd
import numpy as np
import pandas as pd
import keras
from keras.models import Sequential
from keras.layers import Dense, BatchNormalization
from keras.layers import Input, Embedding, Dense
from keras.models import Model
from keras.callbacks import Callback
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from lime import lime_tabular, lime_text
from keras.utils import to_categorical
import datetime
import random

# Bayesian Methods for Hackers style sheet
plt.style.use('bmh')

np.random.seed(1234567890)

from keras import backend as K

def r2(y_true, y_pred):
    """
    # custom R2-score metrics for keras backend
    :param y_true: 실측 데이터
    :param y_pred: 모델에 의한 예측 데이테
    :return: R^2 value, 이 값이 높다고 (예:0.99)해서 예측 값이 정확 하다고 할 수 는 없음...
    """
    SS_res = K.sum(K.square(y_true - y_pred))
    SS_tot = K.sum(K.square(y_true - K.mean(y_true)))
    return (1 - SS_res / (SS_tot + K.epsilon()))

def soft_100_acc(y_true, y_pred):
    delta = 100
    return K.mean(K.less_equal(K.abs(y_true-y_pred),delta))

def soft_300_acc(y_true, y_pred):
    delta = 300
    return K.mean(K.less_equal(K.abs(y_true-y_pred),delta))

def structure(df):
    """
    DataFrame의 column 등 전반적인 구조를 표출 한다.
    :param df:
    :return:
    """
    df1 = df.describe(include='all').T
    df1['type'] = df.dtypes
    df1['null count'] = df.isnull().sum()
    if 'freq' in df1.columns:
        df2 = df1[
            ['type', 'count', 'null count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max', 'unique', 'top',
             'freq']]
    else:
        df2 = df1[['type', 'count', 'null count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max']]

    return df2

class VerboseCallback(keras.callbacks.Callback):
    """
    kerase.model.fit 함수에서, log 출력을 위한 callback
    """
    def __init__(self, epoch):
        self.epoch = epoch
        self.progress("learning:", 0, [])

    def progress(self, text, current=0, log=None):
        g = self.epoch - current
        f = 50 / self.epoch
        c = int(current * f)
        pg = ['=' for i in range(c)] + ['.' for i in range(50 - c)]
        print("\r" + str(text) + "{}/{}[{}]{}".format(current, self.epoch, ''.join(pg), ('' if log is None else str(log).strip())),
              end="", flush=True)
        if self.epoch - current == 0:
            print("")

    def on_epoch_end(self, epoch, logs=None):
        self.progress("learning:", epoch + 1, logs)


class PeriodicLogger(Callback):
    """
    A helper callback class that only prints the losses once in 'display' epochs
    """
    def __init__(self, display=100):
        self.display = display

    def on_train_begin(self, logs={}):      
        self.epochs = 0    

    def on_epoch_end(self, batch, logs={}):    
        self.epochs += 1     
        if self.epochs % self.display == 0:
            print ("Epoch: %d - %s" % (self.epochs, str(logs)))

periodic_logger_10 = PeriodicLogger(10) 
periodic_logger_50 = PeriodicLogger(50)
periodic_logger_250 = PeriodicLogger(250)
periodic_logger_1000 = PeriodicLogger(1000)

Requirement already satisfied: lime in /usr/local/lib/python3.6/dist-packages (0.2.0.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from lime) (1.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from lime) (3.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from lime) (1.18.5)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from lime) (4.41.1)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.6/dist-packages (from lime) (0.22.2.post1)
Requirement already satisfied: scikit-image>=0.12 in /usr/local/lib/python3.6/dist-packages (from lime) (0.16.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->lime) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->lime) (1.2.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->lime) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->lime) (0.10.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.18->lime) (0.16.0)
Requirement already satisfied: imageio>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from scikit-image>=0.12->lime) (2.4.1)
Requirement already satisfied: pillow>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from scikit-image>=0.12->lime) (7.0.0)
Requirement already satisfied: PyWavelets>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from scikit-image>=0.12->lime) (1.1.1)
Requirement already satisfied: networkx>=2.0 in /usr/local/lib/python3.6/dist-packages (from scikit-image>=0.12->lime) (2.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.1->matplotlib->lime) (1.15.0)
Requirement already satisfied: decorator>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from networkx>=2.0->scikit-image>=0.12->lime) (4.4.2)

In [2]:
def nafyc_func(row):
    code,real_yy,rate = row['CODE'],row['REAL_YY'],row['COM_RATE']
    return real_yy * rate

In [39]:
def create_samples(n_samples):
    rate_table = {}
    samples = []
    for i in range(n_samples):
      code = np.random.choice(range(1000,1520))
      real_yy = random.choice(range(1000)) * 1000
      if code not in rate_table:
        rate = np.random.choice([0.20,0.25,0.30,0.33,0.65,0.70,0.75,0.80,0.85])
        rate_table[code] = rate
      else:
        rate = rate_table[code]


      samples.append([code,real_yy,rate])
        
    return pd.DataFrame(samples, columns=['CODE','REAL_YY','COM_RATE'])

In [40]:
dataset = create_samples(n_samples=10000)
dataset['NAFYC'] = dataset.apply(nafyc_func, axis=1)
dataset

      CODE  REAL_YY  COM_RATE     NAFYC
0     1386   331000      0.75  248250.0
1     1047   578000      0.33  190740.0
2     1289   875000      0.65  568750.0
3     1288   863000      0.75  647250.0
4     1036   507000      0.20  101400.0
...    ...      ...       ...       ...
9995  1152   957000      0.65  622050.0
9996  1290   316000      0.85  268600.0
9997  1452   215000      0.25   53750.0
9998  1234   266000      0.25   66500.0
9999  1036   145000      0.20   29000.0

[10000 rows x 4 columns]

In [41]:
structure(dataset)

             type    count  null count  ...        50%        75%        max
CODE        int64  10000.0           0  ...    1258.00    1388.00    1519.00
REAL_YY     int64  10000.0           0  ...  502000.00  753000.00  999000.00
COM_RATE  float64  10000.0           0  ...       0.65       0.75       0.85
NAFYC     float64  10000.0           0  ...  198000.00  386400.00  849150.00

[4 rows x 10 columns]

In [42]:
dataset = dataset.astype({"CODE": object})

In [48]:
structure(dataset)

             type    count  null count  ...  unique     top  freq
CODE       object  10000.0           0  ...   520.0  1119.0  31.0
REAL_YY     int64  10000.0           0  ...     NaN     NaN   NaN
COM_RATE  float64  10000.0           0  ...     NaN     NaN   NaN
NAFYC     float64  10000.0           0  ...     NaN     NaN   NaN

[4 rows x 13 columns]

In [50]:
dataset[dataset['CODE'] == 1386]

      CODE  REAL_YY  COM_RATE     NAFYC
0     1386   331000      0.75  248250.0
301   1386   506000      0.75  379500.0
332   1386   199000      0.75  149250.0
1076  1386    43000      0.75   32250.0
1698  1386   117000      0.75   87750.0
2537  1386   775000      0.75  581250.0
2570  1386   126000      0.75   94500.0
3004  1386   260000      0.75  195000.0
3404  1386   357000      0.75  267750.0
3814  1386    16000      0.75   12000.0
3835  1386   337000      0.75  252750.0
4571  1386   154000      0.75  115500.0
5358  1386   551000      0.75  413250.0
5483  1386   498000      0.75  373500.0
5655  1386   191000      0.75  143250.0
5671  1386   713000      0.75  534750.0
5856  1386    92000      0.75   69000.0
5980  1386   388000      0.75  291000.0
6463  1386   768000      0.75  576000.0
6719  1386   929000      0.75  696750.0
6742  1386   995000      0.75  746250.0
6805  1386   267000      0.75  200250.0
7780  1386   390000      0.75  292500.0
8003  1386   235000      0.75  176250.0
8845  1386   867000      0.75  650250.0
9384  1386   529000      0.75  396750.0
9524  1386   925000      0.75  693750.0

In [51]:
# zscore norm

ds = dataset[['REAL_YY','COM_RATE']]

_mean = ds.mean(axis=0)
_std = ds.std(axis=0)

ds = ds - _mean
ds /= _std

dataset.update(ds)
dataset

      CODE   REAL_YY  COM_RATE     NAFYC
0     1386 -0.585422  0.951464  248250.0
1     1047  0.267796 -0.776645  190740.0
2     1289  1.293730  0.540010  568750.0
3     1288  1.252278  0.951464  647250.0
4     1036  0.022539 -1.311537  101400.0
...    ...       ...       ...       ...
9995  1152  1.576984  0.540010  622050.0
9996  1290 -0.637237  1.362919  268600.0
9997  1452 -0.986124 -1.105809   53750.0
9998  1234 -0.809953 -1.105809   66500.0
9999  1036 -1.227926 -1.311537   29000.0

[10000 rows x 4 columns]

In [52]:
class EmbeddingMapping():
    """
    Helper class for handling categorical variables
    An instance of this class should be defined for each categorical variable we want to use.
    """
    def __init__(self, series):
        # get a list of unique values
        values = series.unique().tolist()
        
        # Set a dictionary mapping from values to integer value
        # In our example this will be {'Mercaz': 1, 'Old North': 2, 'Florentine': 3}
        self.embedding_dict = {value: int_value+1 for int_value, value in enumerate(values)}
        
        # The num_values will be used as the input_dim when defining the embedding layer. 
        # It will also be returned for unseen values 
        self.num_values = len(values) + 1

    def get_mapping(self, value):
        # If the value was seen in the training set, return its integer mapping
        if value in self.embedding_dict:
            return self.embedding_dict[value]
        
        # Else, return the same integer for unseen values
        else:
            return self.num_values

In [53]:
code_mapping = EmbeddingMapping(dataset['CODE'])
dataset = dataset.assign(code_mapping=dataset['CODE'].apply(code_mapping.get_mapping))
dataset

      CODE   REAL_YY  COM_RATE     NAFYC  code_mapping
0     1386 -0.585422  0.951464  248250.0             1
1     1047  0.267796 -0.776645  190740.0             2
2     1289  1.293730  0.540010  568750.0             3
3     1288  1.252278  0.951464  647250.0             4
4     1036  0.022539 -1.311537  101400.0             5
...    ...       ...       ...       ...           ...
9995  1152  1.576984  0.540010  622050.0            35
9996  1290 -0.637237  1.362919  268600.0           174
9997  1452 -0.986124 -1.105809   53750.0           443
9998  1234 -0.809953 -1.105809   66500.0           361
9999  1036 -1.227926 -1.311537   29000.0             5

[10000 rows x 5 columns]

In [54]:
# trainset과 validationset 나누고... 기타 정리

X_train_org, X_val_org, Y_train, Y_val = train_test_split(dataset[['REAL_YY','code_mapping']],
    dataset['NAFYC'], test_size=0.1, random_state=0)

# 학습 대상 변수만 선택
X_train_continuous = X_train_org[['REAL_YY']]
X_train_categorical = X_train_org[['code_mapping']]

X_val_continuous  = X_val_org[['REAL_YY']]
X_val_categorical = X_val_org[['code_mapping']]

In [81]:
# Define the embedding input
code_input = Input(shape=(1,), dtype='int32') 
output_dim=32*2   #X_train_categorical['code_mapping'].max()*1
code_embedings = Embedding(output_dim=output_dim, input_dim=X_train_categorical['code_mapping'].max()+1)(code_input)
code_embedings = keras.layers.Reshape((output_dim,))(code_embedings)

In [82]:
# Define the continuous variables input (just like before)
continuous_input = Input(shape=(X_train_continuous.shape[1], ))

# Concatenate continuous and embeddings inputs
all_input = keras.layers.concatenate([continuous_input, code_embedings])
print(all_input)

Tensor("concatenate_9/concat:0", shape=(None, 65), dtype=float32)

In [83]:
# Define the model
dense1 = Dense(all_input.shape[1]*3, activation='relu')(all_input)
dense2 = Dense(5, activation='relu')(dense1)
predictions = Dense(1)(dense2)

# Note using the input object 'area_input' not 'area_embeddings'
model = Model(inputs=[continuous_input, code_input], outputs=predictions)
model.compile(loss='mse', optimizer=keras.optimizers.Adam(lr=.8, beta_1=0.9, beta_2=0.999, decay=1e-03, amsgrad=True),metrics=[soft_100_acc,soft_300_acc,r2])
model.summary()

Model: "functional_24"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_19 (InputLayer)           [(None, 1)]          0
__________________________________________________________________________________________________
embedding_9 (Embedding)         (None, 1, 64)        33344       input_19[0][0]
__________________________________________________________________________________________________
input_20 (InputLayer)           [(None, 1)]          0
__________________________________________________________________________________________________
reshape_9 (Reshape)             (None, 64)           0           embedding_9[0][0]
__________________________________________________________________________________________________
concatenate_9 (Concatenate)     (None, 65)           0           input_20[0][0]
                                                                 reshape_9[0][0]
__________________________________________________________________________________________________
dense_36 (Dense)                (None, 195)          12870       concatenate_9[0][0]
__________________________________________________________________________________________________
dense_37 (Dense)                (None, 5)            980         dense_36[0][0]
__________________________________________________________________________________________________
dense_38 (Dense)                (None, 1)            6           dense_37[0][0]
==================================================================================================
Total params: 47,200
Trainable params: 47,200
Non-trainable params: 0
__________________________________________________________________________________________________

In [ ]:
epochs = 10000

# Note continuous and categorical columns are inserted in the same order as defined in all_inputs
history = model.fit([X_train_continuous, X_train_categorical['code_mapping']], Y_train, 
          epochs=epochs, batch_size=128, 
          callbacks=[periodic_logger_250], verbose=0,
          validation_data=([X_val_continuous, X_val_categorical['code_mapping']], Y_val))

Epoch: 250 - {'loss': 441042.5625, 'soft_100_acc': 0.17134682834148407, 'soft_300_acc': 0.4805017411708832, 'r2': 0.9999895691871643, 'val_loss': 10389590.0, 'val_soft_100_acc': 0.10674579441547394, 'val_soft_300_acc': 0.3583984375, 'val_r2': 0.9997135996818542}
Epoch: 500 - {'loss': 268260.6875, 'soft_100_acc': 0.21452464163303375, 'soft_300_acc': 0.5711487531661987, 'r2': 0.9999936819076538, 'val_loss': 10069593.0, 'val_soft_100_acc': 0.15587440133094788, 'val_soft_300_acc': 0.4388521611690521, 'val_r2': 0.999721348285675}
Epoch: 750 - {'loss': 216338.453125, 'soft_100_acc': 0.2353213131427765, 'soft_300_acc': 0.6181338429450989, 'r2': 0.9999947547912598, 'val_loss': 9928115.0, 'val_soft_100_acc': 0.17247596383094788, 'val_soft_300_acc': 0.47641226649284363, 'val_r2': 0.9997251033782959}
Epoch: 1000 - {'loss': 191067.84375, 'soft_100_acc': 0.2533670961856842, 'soft_300_acc': 0.6395686268806458, 'r2': 0.9999953508377075, 'val_loss': 9848173.0, 'val_soft_100_acc': 0.18539664149284363, 'val_soft_300_acc': 0.4946664571762085, 'val_r2': 0.9997272491455078}
Epoch: 1250 - {'loss': 176434.5625, 'soft_100_acc': 0.2691241204738617, 'soft_300_acc': 0.6574824452400208, 'r2': 0.9999958872795105, 'val_loss': 9794491.0, 'val_soft_100_acc': 0.18359375, 'val_soft_300_acc': 0.50390625, 'val_r2': 0.9997286796569824}
Epoch: 1500 - {'loss': 166427.59375, 'soft_100_acc': 0.27874118089675903, 'soft_300_acc': 0.6752640604972839, 'r2': 0.9999961256980896, 'val_loss': 9753956.0, 'val_soft_100_acc': 0.1996694803237915, 'val_soft_300_acc': 0.5178034901618958, 'val_r2': 0.9997298121452332}
Epoch: 1750 - {'loss': 157551.28125, 'soft_100_acc': 0.28534331917762756, 'soft_300_acc': 0.679027259349823, 'r2': 0.9999960064888, 'val_loss': 9718839.0, 'val_soft_100_acc': 0.19891826808452606, 'val_soft_300_acc': 0.5163010954856873, 'val_r2': 0.9997308254241943}
Epoch: 2000 - {'loss': 151241.609375, 'soft_100_acc': 0.2951364517211914, 'soft_300_acc': 0.6899427771568298, 'r2': 0.9999962449073792, 'val_loss': 9679055.0, 'val_soft_100_acc': 0.19426082074642181, 'val_soft_300_acc': 0.5219351053237915, 'val_r2': 0.9997318387031555}
Epoch: 2250 - {'loss': 146467.0625, 'soft_100_acc': 0.29819542169570923, 'soft_300_acc': 0.6993398070335388, 'r2': 0.9999962449073792, 'val_loss': 9660788.0, 'val_soft_100_acc': 0.20477764308452606, 'val_soft_300_acc': 0.5256159901618958, 'val_r2': 0.9997323751449585}
Epoch: 2500 - {'loss': 141661.28125, 'soft_100_acc': 0.30457746982574463, 'soft_300_acc': 0.6996259093284607, 'r2': 0.999996542930603, 'val_loss': 9645263.0, 'val_soft_100_acc': 0.22137920558452606, 'val_soft_300_acc': 0.5356069803237915, 'val_r2': 0.9997327327728271}
Epoch: 2750 - {'loss': 137425.265625, 'soft_100_acc': 0.3086927831172943, 'soft_300_acc': 0.7083626985549927, 'r2': 0.9999966621398926, 'val_loss': 9614842.0, 'val_soft_100_acc': 0.21792367100715637, 'val_soft_300_acc': 0.5365835428237915, 'val_r2': 0.9997336268424988}
Epoch: 3000 - {'loss': 134810.359375, 'soft_100_acc': 0.30985915660858154, 'soft_300_acc': 0.7118838429450989, 'r2': 0.9999964833259583, 'val_loss': 9600291.0, 'val_soft_100_acc': 0.21867488324642181, 'val_soft_300_acc': 0.5455979704856873, 'val_r2': 0.9997340440750122}
Epoch: 3250 - {'loss': 131640.40625, 'soft_100_acc': 0.31863996386528015, 'soft_300_acc': 0.718089759349823, 'r2': 0.9999966621398926, 'val_loss': 9582062.0, 'val_soft_100_acc': 0.2172476053237915, 'val_soft_300_acc': 0.5424429178237915, 'val_r2': 0.9997345209121704}